*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*      header      */

.navbar{
    display: flex;
    max-height: 140px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    padding: 60px 200px;

    #gentium{
        font-size: 38px;
        color: white;
        height: 47px;
        font-weight: bolder;
    }

    .main_links{
        margin-top: 15px;
        margin-left: 240px;
    }

    .main_links a{
        padding-bottom: 5px;
        font-size: 17px;
        line-height: 16px;
        color: white;
        font-weight: bolder;
        margin-left: 40px;
    }

    .main_links a:hover{
        border-bottom: 2px solid #e9204f;
    }

    .last_a{
        margin-top: 15px;
        margin-left: 40px;
        cursor: pointer;
    }
}

/*      section 1   */

.section1{
    display: flex;
    flex-direction: column;
    max-height: 2500px;
    height: 100%;
    background-color: black;
    font-family: 'Roboto', sans-serif;

    .span_div{
        position: relative;
        display: flex;
        flex-direction: column;
        left: 170px;
        background-color: transparent;
        z-index: 1;
        margin-bottom: 45px;
    }
    

    .line-span{
        height: 3px;
        width: 70px;
        background-color: #e9204f;
        margin-bottom: 45px;
        margin-top: 100px;
    }

    h2{
        font-size: 80px;
        font-weight: 800;
        line-height: 80px;
        letter-spacing: 2.5px;
        max-width: 600px;
        width: 100%;
        color: white;
        margin-bottom: 80px;
    }

    // button
    .span_div a{
        font-size: 16px;
        color: white;
        font-weight: 700;
        line-height: 16px;
        padding: 20px 40px;
        background-color: transparent;
        border: 2px solid #e9204f;
        cursor: pointer;
        background: linear-gradient(to left, transparent 50%, #E9204F 50%) right;
        background-size: 200%;
        transition: .5s;
    }

    .span_div a:hover{
        background-position: left;
    }

    img{
        position: absolute;
        left: 600px;
        width: 650px;
        padding-bottom: 20px;
    }

    /*     Section 1 three box    */

    .button_Div{
        position: relative;
        display: flex;
        max-height: 400px;
        height: 100%;
        z-index: 1;
        justify-content: center;
        right: 20px;
    }

    .three_div{
        position: relative;
        max-height: 420px;
        height: 100%;
        z-index: 1;
        justify-content: center;
        margin-top: 120px;
        margin-left: 140px;
        font-family: 'Roboto', sans-serif;
        background-color: black;

        .three_div-In{
            display: flex;
            .flex-Item{
                position: relative;
                display: flex;
                flex-direction: column;
                background-color: #1b1b1b;
                max-width: 380px;
                margin-left: 30px;
                width: 100%;
                height: 100%;
                color: white;
                padding: 60px 40px;
    
                i{
                    color: #e9204f;
                    font-size: 40px;
                    margin-bottom: 50px;
                }
    
                h3{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.4em;
                    margin-bottom: 5px;
                }
    
                p{
                    font-size: 17px;
                    justify-content: center;
                    line-height: 26px;
                    font-weight: 400;
                    margin-bottom: 15px;
                }
    
                .line-spanI{
                    height: 3px;
                    width: 40px;
                    background-color: white;
                    margin-bottom: 20px;
                }
    
                .flex-Item-In{
                    position: absolute;
                    width: 400px;
                    max-height: 70px;
                    height: 100%;
                    background-color: #e9204f;
                    z-index: -1;
                    top: 315px;
                    left: 0px;
                }
            }

            .flex-Item:hover{
                background-color: #e9204f;
                transition: all 0.2s ease-in-out;
                i{
                    color: white;
                }
            }
        }
    }
}


/*      section 2    */

#Services{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0 170px;

    .sec2_span1{
        width: 2px;
        height: 30px;
        background-color: #E9204F;
        margin: auto;
        margin-bottom: 20px;
    }

    .sec2_Div{
        display: flex;
        flex-direction: column;

        .sec2_Div_text{
            display: flex;
            flex-direction: column;
            gap: 30px;

            .sec2_span2{
                width: 50px;
                height: 2px;
                background-color: #E9204F;
                margin-top: 100px;
            }

            h2{
                font-size: 48px;
                color: #1B1B1B;
                font-weight: 700;
                line-height: 58px;
            }

            h4{
                font-size: 17px;
                color: #E9204F;
                margin-bottom: 60px;
            }
        }

        .grid-container{
            max-height: 1200px;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;

            .grid-Item{
                background-color: #f0efef;
                display: flex;
                width: 380px;
                height: 104px;
                padding: 30px 10px;
                gap: 10px;

                i{
                    font-size: 25px;
                }

                i:first-child{
                    color: #f0efef;
                    margin-right: 10px;
                }

                i:last-child{
                    margin-top: 10px;
                    margin-left: 50px;
                    color: #949292;
                }

                h5{
                    color: #101010;
                    width: 205px;
                    height: 24px;
                    font-size: 19px;
                    font-weight: bolder;
                    line-height: 24px;
                    margin-top: 10px;
                }
            }

            .grid-Item:hover{
                background-color: #E9204F;

                i:first-child{
                    font-size: 50px;
                }

                h5{
                    color: white;
                }
            }
        }

    }

}